################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/Repos/Blazor/obj/Debug/net10.0/compressed/0gdb8yzlz7-{0}-y7v9cxd14o-y7v9cxd14o.gz
/Frontend/Repos/Blazor/obj/Debug/net10.0/compressed/0hgptgqiam-{0}-iovd86k7lj-iovd86k7lj.gz
*.gz
/RazorWebApps/FoRavers/.vs/FoRavers/CopilotIndices/18.7.1253.33689/CodeChunks.db
/RazorWebApps/FoRavers/.vs/FoRavers/CopilotIndices/18.7.1253.33689/SemanticSymbols.db
/RazorWebApps/FoRavers/.vs/FoRavers.slnx/DesignTimeBuild/.dtbcache.v2
/RazorWebApps/FoRavers/FoRavers/Helpers/Validation/UserDTOValidation.cs
/Frontend/Beginner_Basics
/Frontend/Repos
/RazorWebApps/FoRavers/.vs/FoRavers.slnx/FileContentIndex
/RazorWebApps/FoRavers/FoRavers/Helpers/Validation/UserDTOValidation.cs
/RazorWebApps/FoRavers/FoRavers/.gitignore
/RazorWebApps/FoRavers/.vs/FoRavers.slnx/v18/.futdcache.v2
/RazorWebApps/FoRavers/FoRavers/obj/Debug/net10.0/FoRavers.AssemblyInfo.cs
/RazorWebApps/FoRavers/FoRavers/obj/Debug/net10.0/FoRavers.AssemblyInfoInputs.cache
/RazorWebApps/FoRavers/FoRavers/obj/Debug/net10.0/FoRavers.csproj.AssemblyReference.cache
/RazorWebApps/FoRavers/FoRavers/obj/Debug/net10.0/FoRavers.assets.cache
/RazorWebApps/FoRavers/FoRavers/obj/FoRavers.csproj.nuget.dgspec.json
/RazorWebApps/FoRavers/FoRavers/obj/project.assets.json
/RazorWebApps/FoRavers/FoRavers/obj/project.nuget.cache
/RazorWebApps/FoRavers/.vs/FoRavers.slnx/v18/.suo
/RazorWebApps/FoRavers/FoRavers/obj/Debug/net10.0/FoRavers.csproj.AssemblyReference.cache
/RazorWebApps/FoRavers/FoRavers/obj/Debug/net10.0/FoRavers.assets.cache
/RazorWebApps/FoRavers/FoRavers/obj/Debug/net10.0/FoRavers.AssemblyInfoInputs.cache
/RazorWebApps/FoRavers/FoRavers/obj/Debug/net10.0/FoRavers.AssemblyInfo.cs
/RazorWebApps/FoRavers/FoRavers/Helpers/FollowTargetResolver.cs
/RazorWebApps/FoRavers/FoRavers/Helpers/IFollowTargetResolver.cs
/RazorWebApps/FoRavers/.vs/FoRavers.slnx/v18/DocumentLayout.backup.json
/RazorWebApps/FoRavers/.vs/FoRavers.slnx/v18/DocumentLayout.json
/RazorWebApps/FoRavers/.vs/ProjectEvaluation
