.vs/

################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OCP/.vs/OCP/FileContentIndex/9267e9a8-afb1-41c8-9708-0b7cff068c92.vsidx
/OCP/.vs/OCP/FileContentIndex/32068235-7ead-4dd9-b887-196a6a430c19.vsidx
